<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031894861396-lnvq5u2ufq1tqnehoir4egid9kqei4us.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031894861396-lnvq5u2ufq1tqnehoir4egid9kqei4us</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1031894861396-h88vkvd26837bs5vp2sihdh4fm59fn2q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtT_jQFhxxl_8Np6Ok-1rnpKn0w26IBM0</string>
	<key>GCM_SENDER_ID</key>
	<string>1031894861396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.edu.tdc.BarberShop</string>
	<key>PROJECT_ID</key>
	<string>barber-shop-group-1</string>
	<key>STORAGE_BUCKET</key>
	<string>barber-shop-group-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031894861396:ios:38e1790028fb5f2012cfc1</string>
	<key>DATABASE_URL</key>
	<string>https://barber-shop-group-1-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>